

.c-carousel {
  position: relative;
  &_full {
    background-color: #fff;
    margin-bottom: $base-whitespace;
    overflow: hidden;
    padding-bottom: $base-whitespace;
  }

  &_strip {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  &_item {
    display: inline-block;
    width: 280px;
    margin: 0 $base-whitespace 0 0;
    padding: $base-whitespace * 2;
    background-color: #fff;

    &:active {
      background-color: #e3e3e3;
    }

    &-active {
      background-color: #e3e3e3;
    }
    &_description {
      margin-bottom: $base-whitespace;
    }
  }

   &_nav {
     padding: 10px;
     font-weight: 700;
      font-family: 'Noto Sans', sans-serif;
     background-color: $orange;
     color: #fff;
     position: absolute;
     bottom: $base-whitespace * 3;
     text-decoration: none;

     &:hover {
      text-decoration: none;
     }
   
   }
  &_nav-forward {
  right: 0;
  }
  &_nav-back {

  left: 0;
  }


}
