
.main {
  margin-top: $base-whitespace * 4;
}

.layout {
  display: inline-block;
  width: 80vw;
}

.layout-middle {
  text-align: center;
}

.layout-padded {
  padding: $base-whitespace * 3;
}

.layout-container {
  margin: auto;
  background-color: #f5f5f6;
}
