<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Assignment for TNT</title>
  <meta name="description" content="Assignment for TNT">

  <link rel="stylesheet" href="dist/css/base.css?v=1.0">
</head>

<body>
  <div class="main">
    <div class="layout-container layout-middle layout-padded">
      <div class="layout">
        <h2>Assignment</h2>
        <p>Assignment for TNT Digital. By Marco Kotrotsos</p>
        <div data-carousel data-datasource="https://wt-83e58c9f13b3df3a68adfe5263e85725-0.sandbox.auth0-extend.com/TNT-Testimonials"></div>
      </div>
    </div>
  </div>

  <script id="carousel-template" type="text/x-lodash-template">
    <div class="c-carousel">
      <div class="c-carousel_full"></div>
      <div class="c-carousel_strip">
        <% _.forEach(testimonials, function(testimonial) { %>
          <div id="<%= testimonial.id %>" class="c-carousel_item">
            <img class="c-carousel_item_thumbnail" src="<%= testimonial.thumbnail %>" alt="testimonalimage" />
            <div class="c-carousel_section u-hidden">
              <img src="<%= testimonial.fullimage %>" alt="testimonial full image" class="c-carousel_item_fullimage" />
              <div class="c-carousel_item_title"><strong><%= testimonial.title %></strong></div>
              <div class="c-carousel_item_description">
                <%= testimonial.description %>
              </div>
              <a class="o-button o-button-secondary" href="<%= testimonial.target %>">
                <%= testimonial.targettext %>
              </a>
            </div>
          </div>
          <% }) %>
            <!-- Not finished: adding back and next navigation -->
            <div class="c-carousel_nav-forward"></div>
            <div class="c-carousel_nav-back"></div>
      </div>
    </div>
  </script>

  <!-- Vendor scripts. These would ideally be included in the minified bundle -->
  <script src="./dist/vendor/jquery331.js"></script>
  <script src="./dist/vendor/lodash.js"></script>

  <!-- These should ideally be included through something like system.js (or code splitting/lazy loading) because it's not needed
       on every page.  -->
  <script src="./dist/index.js"></script>
  <script src="./dist/jquery-carousel.js"></script>

</body>

</html>
